@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

body {
	height: 100vh;
	background: linear-gradient(rgba(0,212,255,1), rgba(48,48,203,1));
}

.container {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 3em;
	color: white;
}

#wolk1{
	height: 200%;
	position: absolute;
	top: 25%;
	left: 45%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
